@use 'fonts';
$main-font: '04b03';

$color-one: #ffc9ec;

$main-hue: 330;
$main-sat: 100;
$main-lit: 89;
$second-hue: $main-hue - 60;
$third-hue: $second-hue - 60;
$fourth-hue: $third-hue - 60;
$fifth-hue: $fourth-hue - 60;

@mixin double-size-check {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 0.5em;
	margin: 0.5em;
	cursor: pointer;
}

body {
	margin: 0;
	font-family: $main-font;
	font-size: 16px;
	background-color: hsl($main-hue, $main-sat, $main-lit);
}

#high-contrast {
	@include double-size-check;
	margin: 0.125em;
}

#header-nav {
	padding: 0 1rem;
	display: grid;
	grid-template-areas:
		"header settings"
		"header login"
		"points login";


	header {
		font-size: 24px;
		line-height: 2;
		grid-area: header;
	}

	#points {
		font-size: 1.5rem;
		flex-basis: 100%;
		grid-area: points;
	}

	#user-nav {
		display: none;
		text-align: right;
	}

	#auth-button-div,
	#user-nav {
		margin-left: auto;
		font-size: 1.5rem;
		grid-area: login;
		align-self: center;
	}

	#auth-button {
		font-size: 1.125em		
	}

	#settings {
		margin-left: auto;
		margin-top: 0.5em;
	}

	a {
		color: blue;
		&.current { color: black; }
	}
}

#auth {
	padding: 0 1rem;
	background-color: hsl($fifth-hue, $main-sat, $main-lit);
	text-align: right;
	* {
		font-size: 1.125em;
	}

	#login {
		margin: 1rem 0;
	}

	#no-account,
	#sign-up {
		margin-bottom: 1rem;
	}

	#sign-up-message,
	#login-message {
		color: red;
	}
}

.hidden {
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.open {
	height: auto !important;
	visibility: visible;
}

#main {

	#Apprentice-container {
		background-color: hsl($second-hue, $main-sat, $main-lit);
	}

	#Developer-container {
		background-color: hsl($third-hue, $main-sat, $main-lit);
	}

	#Artist-container {
		background-color: hsl($fourth-hue, $main-sat, $main-lit);
	}

	#Level-Design-container {
		background-color: hsl($fifth-hue, $main-sat, $main-lit);
	}

	#Sound-Design-container {
		background-color: hsl($second-hue, $main-sat, $main-lit);
	}

	#User-Interface-Design-container {
		background-color: hsl($third-hue, $main-sat, $main-lit);
	}

	#Publishing-container {
		background-color: hsl($fourth-hue, $main-sat, $main-lit);
	}

	#Research-container {
		background-color: hsl($fifth-hue, $main-sat, $main-lit);
	}
}

#main {
	display: flex;

	#tier-container {
		width: 100%;
	}
}

#lab-container {

	float: right;
	width: 640px;
	flex: 0 0 640px;

	display: none;

	&.open {
		display: block;
	}

	#lab-nav {
		background-color: hsl($second-hue, $main-sat, $main-lit);
		display: flex;
		justify-content: flex-end;
		a {
		    color: blue;
    		text-decoration: underline;
    		cursor: pointer;
    		margin-left: 1em;
    		font-size: 1.25em;
    	}
	}

	#lab-frame {
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		max-height: calc(100vh - 100px);
	}
}

.section {

	padding: 0.5rem;

	h1 {
		margin: 0;
		line-height: 2;
		font-size: 22px;
		padding: 0 0.5rem;
		cursor: pointer;
	}

	.open-button {
		margin-left: 1em;
		vertical-align: text-top;
	}

	.modules {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0.5rem;
	}

	.module {
		background: white;
		padding: 0.25em 0.5em;
		margin: 0.25em 0;
		margin-right: 0.5em;
		min-width: 8em;

		display: grid;
		grid-gap: 0 0.25em;
		grid-template-areas:
			'available null'
			'title null'
			'video type'
			'resource type'
			'points type'
			'bonus type'
			'collab type'
			'completed type';

		display: none; // before loading

		.link:hover + .dek {
			opacity: 1;
			height: auto;
			padding: 0.5rem;
			border: 5px solid blue;

		}

		.dek {
			color: black;
			position: absolute;
			background: white;
			max-width: 200px;
			z-index: 1;
			height: 0;
			opacity: 0;
			overflow: hidden;
			text-align: left;
			margin: 0;
		}

		.resource {
			grid-area: resource;
		}

		.title {
			display: inline-block;
			grid-area: title;
			color: blue;
			text-decoration: underline;
			cursor: e-resize;
			&.open { cursor: w-resize; }
		}

		.title,
		.points {
			margin: 0;
		}

		.type { grid-area: type; }
		.video { grid-area: video; }
		.bonus { grid-area: bonus; }
		.collab { grid-area: collab; }

		.completed { 
			grid-area: completed; 
			margin-top: 1rem;
		}

		.available { 
			grid-area: available; 
			margin-bottom: 0.5rem;
		}

		.points {
			grid-area: points;
			// text-align: right;
		}

		.completed input[type=checkbox] {
			@include double-size-check;
		}

	}
}

#admin {
	#users,
	#hello {
		margin: 0 1rem;
	}

	p { margin: 0 }

	#users {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	.user {
		border: 1px solid black;
		padding: 0.5rem;
		max-width: 264px;
	}

	.name {
		color: blue;
	}
}

body.high-contrast {
	font-family: Verdana, Tahoma, sans-serif;

	#header-nav, .section, #auth {
		background-color: white !important;
		border-bottom: 2px solid black;
	}

	.module {
		border: 2px solid
	}
}