@font-face {
  font-family: "04b03";
  src: url("../fonts/04B_03__.woff2") format("woff2"), url("../fonts/04B_03__.woff") format("woff"), url("../fonts/04B_03__.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "04b03";
  font-size: 16px;
  background-color: #ffc7e3;
}

nav {
  padding: 0 1rem;
  display: grid;
  grid-template-areas: "header login" "points login";
}
nav header {
  font-size: 24px;
  line-height: 2;
  grid-area: header;
}
nav #points {
  font-size: 1.5rem;
  flex-basis: 100%;
  grid-area: points;
}
nav #user-nav {
  display: none;
  text-align: right;
}
nav #auth-button,
nav #user-nav {
  margin-left: auto;
  font-size: 1.5rem;
  grid-area: login;
  align-self: center;
}
nav #auth-button {
  cursor: pointer;
}
nav a {
  color: blue;
}
nav a.current {
  color: black;
}

#auth {
  padding: 0 1rem;
  background-color: #e3ffc7;
  text-align: right;
}
#auth #login {
  margin: 1rem 0;
}
#auth #no-account,
#auth #sign-up {
  margin-bottom: 1rem;
}
#auth #sign-up-message,
#auth #login-message {
  color: red;
}

.hidden {
  height: 0;
  overflow: hidden;
}

.open {
  height: auto !important;
}

#main #Apprentice-container {
  background-color: #e3c7ff;
}
#main #Developer-container {
  background-color: #c7e3ff;
}
#main #Artist-container {
  background-color: #c7ffe3;
}
#main #Designer-container {
  background-color: #e3ffc7;
}
#main #Sound-Design-container {
  background-color: #e3c7ff;
}
#main #Publishing-container {
  background-color: #c7e3ff;
}
#main #Quality-Assurance-container {
  background-color: #c7ffe3;
}

.section {
  padding: 0.5rem;
}
.section h1 {
  margin: 0;
  line-height: 2;
  font-size: 22px;
  padding: 0 0.5rem;
  cursor: pointer;
}
.section .modules {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
}
.section .module {
  background: white;
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
  margin-right: 0.5em;
  min-width: 8em;
  display: grid;
  grid-template-areas: "null available" "type title" "type video" "type points" "type completed";
  grid-gap: 0.25rem;
}
.section .module .link:hover + .dek {
  opacity: 1;
  height: auto;
  padding: 0.5rem;
  border: 5px solid blue;
}
.section .module .dek {
  color: black;
  position: absolute;
  background: white;
  max-width: 200px;
  z-index: 1;
  height: 0;
  opacity: 0;
  overflow: hidden;
  text-align: left;
  margin: 0;
}
.section .module .completed,
.section .module .available,
.section .module .title,
.section .module .video,
.section .module .dek-link {
  text-align: right;
}
.section .module .title {
  display: inline-block;
  grid-area: title;
  cursor: s-resize;
}
.section .module .title,
.section .module .points {
  margin: 0;
}
.section .module .type {
  grid-area: type;
}
.section .module .video {
  grid-area: video;
}
.section .module .completed {
  grid-area: completed;
  margin-top: 1rem;
}
.section .module .available {
  grid-area: available;
  margin-bottom: 0.5rem;
}
.section .module .points {
  grid-area: points;
  text-align: right;
}
.section .module .completed input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2);
  /* IE */
  -moz-transform: scale(2);
  /* FF */
  -webkit-transform: scale(2);
  /* Safari and Chrome */
  -o-transform: scale(2);
  /* Opera */
  transform: scale(2);
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

#admin #users,
#admin #hello {
  margin: 0 2rem;
}
#admin #users {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/*# sourceMappingURL=main.css.map */
