@use 'fonts';

$main-font: '04b03';

$color-one: #ffc9ec;

$main-hue: 330;
$main-sat: 100;
$main-lit: 89;
$second-hue: $main-hue - 60;
$third-hue: $second-hue - 60;
$fourth-hue: $third-hue - 60;
$fifth-hue: $fourth-hue - 60;

body {
	margin: 0;
	font-family: $main-font;
	font-size: 16px;
	background-color: hsl($main-hue, $main-sat, $main-lit);
}

nav {
	// background-color: hsl($main-hue, $main-sat, $main-lit);
	padding: 0 1rem;
	// display: flex;
	// align-items: center;
	// flex-wrap: wrap;

	display: grid;
	grid-template-areas: 
		"header login"
		"points login";


	header {
		font-size: 24px;
		line-height: 2;
		grid-area: header;
	}

	#points {
		font-size: 1.5rem;
		flex-basis: 100%;
		grid-area: points;
	}

	#user-nav {
		display: none;
		text-align: right;
	}

	#auth-button,
	#user-nav {
		margin-left: auto;
		font-size: 1.5rem;
		grid-area: login;
		align-self: center;
	}

	#auth-button {
		cursor: pointer;
	}

	a {
		color: blue;
		&.current { color: black; }
	}
}

#auth {
	padding: 0 1rem;
	background-color: hsl($fifth-hue, $main-sat, $main-lit);
	text-align: right;

	#login {
		margin: 1rem 0;
	}

	#no-account,
	#sign-up {
		margin-bottom: 1rem;
	}

	#sign-up-message,
	#login-message {
		color: red;
	}
}

.hidden {
	height: 0;
	overflow: hidden;
}

.open {
	height: auto !important;
}


#main {

	#Apprentice-container {
		background-color: hsl($second-hue, $main-sat, $main-lit);
	}

	#Developer-container {
		background-color: hsl($third-hue, $main-sat, $main-lit);
	}

	#Artist-container {
		background-color: hsl($fourth-hue, $main-sat, $main-lit);
	}

	#Designer-container {
		background-color: hsl($fifth-hue, $main-sat, $main-lit);
	}

	#Sound-Design-container {
		background-color: hsl($second-hue, $main-sat, $main-lit);
	}

	#Publishing-container {
		background-color: hsl($third-hue, $main-sat, $main-lit);
	}

	#Quality-Assurance-container {
		background-color: hsl($fourth-hue, $main-sat, $main-lit);
	}

	#Research-container {
		background-color: hsl($fifth-hue, $main-sat, $main-lit);
	}
}

.section {

	padding: 0.5rem;

	h1 {
		margin: 0;
		line-height: 2;
		font-size: 22px;
		padding: 0 0.5rem;
		cursor: pointer;
	}

	.modules {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0.5rem;
	}

	.module {
		background: white;
		padding: 0.25em 0.5em;
		margin: 0.25em 0;
		margin-right: 0.5em;
		min-width: 8em;

		display: grid;
		grid-template-areas:
			'null available'
			'null title'
			'type video'
			'type resource'
			'type points'
			'type bonus'
			'type collab'
			'type completed';
		// grid-gap: 0.25rem;

		.link:hover + .dek {
			opacity: 1;
			height: auto;
			padding: 0.5rem;
			border: 5px solid blue;

		}

		.dek {
			color: black;
			position: absolute;
			background: white;
			max-width: 200px;
			z-index: 1;
			height: 0;
			opacity: 0;
			overflow: hidden;
			text-align: left;
			margin: 0;
		}

		.completed,
		.available,
		.title,
		.video,
		.dek-link,
		.bonus,
		.collab,
		.resource {
			text-align: right;
		}

		.resource {
			grid-area: resource;
		}


		.title {
			display: inline-block;
			grid-area: title;
			cursor: s-resize;
		}

		.title,
		.points {
			// margin-top: 0;
			margin: 0;
		}

		.type { grid-area: type; }
		.video { grid-area: video; }
		.bonus { grid-area: bonus; }
		.collab { grid-area: collab; }

		.completed { 
			grid-area: completed; 
			margin-top: 1rem;
		}

		.available { 
			grid-area: available; 
			margin-bottom: 0.5rem;
		}

		.points {
			grid-area: points;
			text-align: right;
		}

		.completed input[type=checkbox] {
			/* Double-sized Checkboxes */
			-ms-transform: scale(2); /* IE */
			-moz-transform: scale(2); /* FF */
			-webkit-transform: scale(2); /* Safari and Chrome */
			-o-transform: scale(2); /* Opera */
			transform: scale(2);
			padding: 0.5em;
			margin: 0.5em;
			cursor: pointer;
		}

	}
}

#admin {
	#users,
	#hello {
		margin: 0 1rem;
	}

	p { margin: 0 }

	#users {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}

	.user {
		border: 1px solid black;
		padding: 0.5rem;
		max-width: 264px;
	}

	.name {
		color: blue;
	}
}

